<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/main-screen.css">
    <link rel="stylesheet" href="/stylesheets/gameplay.css">
    <link rel="stylesheet" href="/stylesheets/system-req.css">
    <link rel="stylesheet" href="/stylesheets/top-score.css">
    <link rel="stylesheet" href="/bootstrap-5.2.2-dist/css/bootstrap.css">
</head>

<body>
    <div class="content">
        <div id="mainScreen">

            <header>
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-opacity-50">
                    <div class="container-fluid">
                        <img class="logo" src="/images/assets/logo.png" alt="logo">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                            aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body">
                                <div class="navbar-nav ml-3 fw-bold fs-6">
                                    <a href="/" class=" nav-item nav-link active ml-5 px-4" id="home">
                                        HOME
                                    </a>
                                    <a href="/work" class="nav-item nav-link px-4" id="work">
                                        WORK
                                    </a>
                                    <a href="/contact" class="nav-item nav-link px-4" id="contact">
                                        CONTACT
                                    </a>
                                    <a href="/about-us" class="nav-item nav-link px-4" id="about-us">
                                        ABOUT US
                                    </a>
                                </div>

                                <div class="collapse navbar-collapse d-flex justify-content-end">
                                    <div class="navbar-nav ml-3 fw-bold fs-6">
                                        <a href="/profile/<%= name %>" class="nav-item nav-link text-white ml-5 px-4"
                                            id="signUp">
                                            Hi, <%= name %>
                                        </a>
                                        <a href="/" class="nav-item nav-link text-white px-4" id="login">
                                            LOG OUT
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="main-content container-fluid text-center">
                <h1 class="home-title fw-bold p-3">PLAY TRADITIONAL GAME</h1>

                <h5 class="p-3">Experience new traditional game play</h5>

                <div class="p-3">
                    <a href="/main/<%= name %>/game">
                        <button type="button" class="main-btn btn btn-warning rounded text-dark fw-bold fs-6">PLAY
                            NOW</button>
                    </a>
                </div>
            </div>

            <footer class="main-footer container-fluid">
                <div class="text-center zoom-in-out-box">
                    <a href="#" style="text-decoration: none;" class="text-white">
                        <h6>THE STORY</h6>
                        <img src="/images/assets/scroll-down.svg" alt="scrollDown">
                    </a>
                </div>
            </footer>
        </div>

        <div id="gameplay">
            <div class="gp-content container-fluid">
                <div class="row">
                    <div id="subTitle" class="col-3">
                        <div class="d-flex flex-row">
                            <div class="gp-content-subtitle d-flex justify-content-start">
                                <h5>What's so special?</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="title" class="col-3">
                        <div class="d-flex flex-row">
                            <div class="gp-content-title d-flex justify-content-start">
                                <h1>THE GAMES</h1>
                            </div>
                        </div>
                    </div>
                    <div id="imageSlider" class="col-9">
                        <div class="d-flex flex-row">
                            <div id="carouselExampleIndicators" class="carousel slide"
                                style="padding: 0 9% 0 9%; width:90%;" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active me-3" aria-current="true"
                                        aria-label="Slide 1"
                                        style=" width: 10px;height: 10px;border-radius: 100%;"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" class="me-3" aria-label="Slide 2"
                                        style=" width: 10px;height: 10px;border-radius: 100%;"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" class="me-3" aria-label="Slide 3"
                                        style=" width: 10px;height: 10px;border-radius: 100%;"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/images/assets/rockpaperstrategy-1600.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/images/assets/rockpaperstrategy-1601.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/images/assets/rockpaperstrategy-1602.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span aria-hidden="true"> <img src="/images/assets/switch-left.svg" alt=""></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span aria-hidden="true"><img src="/images/assets/switch-right.svg"
                                            alt=""></span></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gameFeature">
            <div class="row flex-row-reverse pt-5">
                <div id="" class="col-5">
                    <h5>What's so special?</h5>
                </div>
            </div>
            <div class="row flex-row-reverse">
                <div id="" class="col-5">
                    <h1>FEATURES</h1>
                </div>
            </div>
            <div class="row flex-row-reverse mt-5">
                <div id="" class="col-4">
                    <h5 class="text-warning">TRADITIONAL GAMES</h5>
                    <p>If you miss your childhood, we provide <br> many traditional games here</p>
                </div>
                <div id="" class="col-1">
                    <div class="border border-light bg-light" style=" width: 10px;height: 10px;border-radius: 100%;">
                    </div>
                    <div class="d-flex ms-1" style="height: 200px;">
                        <div class="vr"></div>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse">
                <div id="" class="col-4">
                    <h5 class="text-warning">GAME SUIT</h5>
                </div>
                <div id="" class="col-1">
                    <div class="border border-light" style=" width: 10px;height: 10px;border-radius: 100%;">
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse mt-4">
                <div id="" class="col-4">
                    <h5 class="text-warning">TRBD</h5>
                </div>
                <div id="" class="col-1">
                    <div class="border border-light" style=" width: 10px;height: 10px;border-radius: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div id="systemReq">
            <div>
                <h5 class="text-center pt-5">Can My Computer Run this game ?</h5>

                <div class="p-3 w-50">
                    <h1 style="font-size: 3em;">SYSTEM<br>REQUIREMENTS</h1>
                    <div class="mt-3">
                        <table class="sr-table w-100">
                            <tr class="sr-tr">
                                <td class="sr-td p-2">
                                    <h2 class="text-warning">OS:</h2>
                                    <h4 class="text-light">windows 7 64-bit only (No OSX support at this time)</h4>
                                </td>
                                <td class="sr-td p-2">
                                    <h2 class="text-warning">PROCESSOR:</h2>
                                    <h4 class="text-light">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                                    </h4>
                                </td>
                            </tr>
                            <tr class="sr-tr">
                                <td class="sr-td p-2">
                                    <h2 class="text-warning">MEMORY:</h2>
                                    <h4 class="text-light">4 GB RAM</h4>
                                </td>
                                <td class="sr-td p-2">
                                    <h2 class="text-warning">STORAGE:</h2>
                                    <h4 class="text-light">8 GB available space</h4>
                                </td>
                            </tr>
                            <tr class="sr-tr">
                                <td colspan="2" class="sr-td p-2">
                                    <h2 class="text-warning">GRAPHIC:</h2>
                                    <h4 class="text-light">NVIDIA Geforce GTX 660 @GB OR <br> AMD Radeon HD 7850 2GB
                                        DirectX11 (Shader Model 5)</h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="topScore">
            <div class="row p-2">
                <div class="col-6 position-relative">
                    <div class="w-75 position-absolute top-50 start-50 translate-middle">
                        <h1 class="m-3" style="font-size: 4em;">TOP SCORES</h1>
                        <h6 class="m-3">this top score from various games provide <br> on this platform</h6>
                        <button type="button" class="btn btn-warning fw-bold w-25 m-3">See More</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="ts-card-ms col-12 pt-2">
                            <div class="bg-dark card w-75">
                                <div class="bg-dark card-body">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <img src="/images/assets/evan-lahti.jpg" alt="avatar" class="ts-avatar border-warning position-absolute top-50 start-50
                                                translate-middle">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-warning">Evan Lathi</h5>
                                            <p class="text-white-50">PC Gamer</p>
                                        </div>
                                        <div class="col-2">
                                            <img src="/images/assets/twitter-card.png" alt="twitter"
                                                class="position-absolute translate-middle-y"
                                                style="top:15%; right: 5%;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 pt-2 ">
                                            <h6>"One of gaming highlights of the year."</h6>
                                            <p class="text-white-50">June 18, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-12 pt-2">
                            <div class="bg-dark card w-75">
                                <div class="bg-dark card-body">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <img src="/images/assets/jada-griffin.jpg" alt="avatar" class="ts-avatar border-warning position-absolute top-50 start-50
                                                translate-middle">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-warning">Jada Griffin</h5>
                                            <p class="text-white-50">Nerdreactor</p>
                                        </div>
                                        <div class="col-2">
                                            <img src="/images/assets/twitter-card.png" alt="twitter"
                                                class="position-absolute translate-middle-y"
                                                style="top:15%; right: 5%;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 pt-2">
                                            <h6>"The next big thing in the world of streaming and survival games"</h6>
                                            <p class="text-white-50">July 10, 2021</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ts-card-ms col-12 pt-2">
                            <div class="bg-dark card w-75">
                                <div class="bg-dark card-body">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <img src="/images/assets/aaron-williams.jpg" alt="avatar" class="ts-avatar border-warning position-absolute top-50 start-50
                                                translate-middle">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="text-warning">Aaron Williams</h5>
                                            <p class="text-white-50">Uproxx</p>
                                        </div>
                                        <div class="col-2">
                                            <img src="/images/assets/twitter-card.png" alt="twitter"
                                                class="position-absolute translate-middle-y"
                                                style="top:15%; right: 5%;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-11 pt-2 ">
                                            <h6>"Snoop Dogg Playing the Wildly Entertaining 'SOS' Is Ridiculous"</h6>
                                            <p class="text-white-50">December 24, 2018</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer" class="p-3">
            <div class="row h-75">
                <div class="col-1"></div>
                <div class="col-5 position-relative">
                    <img class="w-50 h-100 position-absolute top-50 start-50 translate-middle"
                        src="/images/assets/skull.png" alt="" srcset="">
                </div>
                <div class="col-5 position-relative">
                    <div class="position-absolute top-50 start-0 translate-middle-y">
                        <h5>What to stay in<br>touch?</h5>
                        <h1>NEWSLETTER<br>SUBSCRIBE</h1>
                        <p>In order to start receiving our news, all you have to do is enter your email address.
                            Everything else will be taken care of by us. We will send tou emails containing information
                            about game. We don't spam.</p>
                        <div class="row">
                            <div class="col-6 ">
                                <input type="text" class="form-control bg-dark border border-dark"
                                    placeholder="Your email address" aria-label="email">
                            </div>
                            <div class="col-5">
                                <button type="button" class="btn btn-warning w-100 fw-bold">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="container-fluid w-100 mt-5">
                <div class="row flex-row-reverse">
                    <div class="col-1"><img src="/images/assets/twitch.svg" alt="" srcset=""></div>
                    <div class="col-1"><img src="/images/assets/vector.svg" alt="" srcset=""></div>
                    <div class="col-1"><img src="/images/assets/twitter.svg" alt="" srcset=""></div>
                    <div class="col-1"><img src="/images/assets/facebook.svg" alt="" srcset=""></div>
                    <div class="col-1">QUOTES</div>
                    <div class="col-2">SYSTEM REQUIREMENTS</div>
                    <div class="col-2">GAME FEATURES</div>
                    <div class="col-1">ABOUR</div>
                    <div class="col-1">MAIN</div>
                </div>
                <div class="w-100 mt-3 mb-3 ms-0 me-0" style="border-bottom: 2px solid white;"></div>
                <div class="row">
                    <div class="col-6  position-relative">
                        <p class="text-white-50 position-absolute top-50 translate-middle-y">&#169;2018 Your
                            Games Inc. All Rights Reserved</p>
                    </div>
                    <div class="col-6 hstack gap-3 position-relative">
                        <p class="position-absolute top-50 translate-middle-y" style="right: 2%;">PRIVACY POLICY | TERM
                            OF SERVICES |
                            CODE OF CONDUCT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="/bootstrap-5.2.2-dist/js/bootstrap.js"></script>
    <script src="/javascripts/gameplay.js"></script>
    <script src="/routes/main.js"></script>
</body>

</html>